<% include ../header %>
  <header>
    <h1>Ntalk - Editar contatos</h1>
  </header>
  <section>
    <form action="/contato/<%- id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <p><label>Nome:</label> <%- contato.nome %> </p>
      <p><label>E-mail:</label> <%- contato.email %> </p>
      <p>
        <button type="submit">Excluir</button>
        <a href = "/contato/<%- id %>/editar">Editar</a>
      </p>
    </form>
  </section>
<% include ../exit %>
<% include ../footer %>
